*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#ececec;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.game-card{
    width:380px;
    background:white;
    padding:20px;
    border:1px solid #ccc;
    text-align:center;
}

.top-section{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.top-badge{
    background:#4a90e2;
    color:white;
    padding:5px 10px;
    font-size:13px;
}

.mode-box{
    font-size:14px;
}

select{
    padding:4px;
}

h1{
    margin-bottom:10px;
}

.subtitle{
    color:#666;
    margin-bottom:15px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #bbb;
}

button{
    width:100%;
    padding:10px;
    margin-top:8px;
    border:none;
    background:#4a90e2;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#357bd8;
}

#restartBtn{
    display:none;
    background:#777;
}

#restartBtn:hover{
    background:#666;
}

.message{
    margin-top:15px;
    font-weight:bold;
}

.stats{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
    font-size:14px;
}

.attempts,
.best-score{
    color:#555;
}
